<form action="/books/create" role="form" method="post">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="title">
  </div>
  <div>
    <label for="pub_year">Publishing Year</label>
    <input type="number" id="pub_year" name="publishingYear">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

